// Primary Colors
$warm-orange: #ff6a00;
$orange-tint: #fab072;

// Complementary Colors
$azure: #0a91ff;
$azure-tint: #72bdfa;
$aqua: #4ec1e0;
$violet: #8320f5;

$success: #20f583;
$red: #ff0000;

//Greys
$darkest-grey: #495057;
$dark-grey: #dde2e5;
$light-grey: #f1f3f5;
$lightest-grey: #f8f9fa;

// Rest

$input-border: #ced4da;
$white: #fff;
$none: transparent;

$main-shadow: 0px 8px 15px rgba(206, 206, 206, 0.6) !important;
