.about{
  padding-top: rem(8px);
  &__oranle-ellipse{
    position: absolute;
    left: 0;
    top: rem(270px);
    z-index: 0;
  }
  &__blue-ellipse{
    position: absolute;
    right: rem(-10px);
    bottom: rem(302px);
    z-index: 0;
  }
 &-card{
   margin: rem(24px 0);
   padding: rem(64px 60px);
   position: relative;
   z-index: 1;
   background-color: #fff;
   &__header {
     padding: rem(20px 0 40px);
     font-size: rem(49px);
     font-weight: bold;
     text-align: center;
   }
   &__content{
     padding: rem(10px 125px 0px);
     &--txt{
       font-weight: 300;
       font-size: rem(25px);
       line-height: rem(48px);
     }
     &--txt:not(:last-child){
       margin-bottom: rem(49px);
     }
   }
 }
 &-image-card{
   margin: rem(24px 0);
   position: relative;
   z-index: 1;
   background-color: #fff;
   padding: rem(64px 60px);
   &__img{
     margin: auto;
     top: rem(50px);
   }
   &__title{
     padding: rem(64px 0);
     font-size: rem(39px);
     line-height: rem(47px);
     color: $black;
   }
   &__content{
     padding: rem(0 17px);
     &--txt{
       font-weight: 300;
       font-size: rem(20px);
       line-height: rem(40px);
     }
     &--txt:not(:last-child){
       margin-bottom: rem(35px);
     }
   }
   &__description{
     margin-top: rem(46px);
     text-align: center;
     color: $warm-orange;
     font-size: rem(31px);
   }
 }
 &-sign-up{
   &__title{
     padding: rem(33px 0 10px);
     font-size: rem(39px);
   }
   &__btn{
     margin-bottom: rem(165px);
   }
   &__btn-txt{
     padding: rem(0 46px);
   }
 }
}
@media (max-width: $xs) {
  .about {
    padding-top: 0;
    &__oranle-ellipse{
      top: rem(370px);
    }
    &-card {
      margin: 0;
      padding: 0;
      &__header {
        margin: 0;
        padding: rem(36px 15px 47px);
        font-size: rem(25px);
      }
      &__content {
        padding: rem(0 30px);
        &--txt{
          font-size: rem(16px);
          line-height: rem(32px);
        }
      }
    }
    &-image-card{
      margin: 0;
      padding: rem(0 30px);
    }
  }
}
