.auth {
  &__main {
    min-height: 100vh;
    background-image: url('~assets/images/home/worldImage.svg');
    background-position: right bottom;
    background-size: auto;
  }

  &__container {
    position: relative;
    padding: rem(88px 72px);
    margin: rem(48px 0);
    box-shadow: 0px 8px 15px rgba(206, 206, 206, 0.6);
    background-color: $white;
    border-radius: rem(16px);
    transition: height 0.2s;

    &:not(.sign-in) {
      border-top: rem(16px) solid $lightest-grey;
    }

    &:not(.sign-in)::after {
      content: '';
      position: absolute;
      height: rem(16px);
      width: 50%;
      border-top-left-radius: rem(20px);
      top: rem(-16px);
      left: 0%;
      background-color: $warm-orange;
      transition: all 0.1s;
    }

    &:not(.sign-in).last-step::after {
      left: 50%;
      border-top-right-radius: rem(20px);
      border-top-left-radius: 0;
    }
  }

  &__header {
    font-size: rem(47px);
    font-weight: bold;
  }

  &__subheader {
    font-size: rem(25px);
  }

  &__btn {
    &--block {
      width: 100%;
    }
  }

  &__link {
    color: $darkest-grey;
  }

  &__route-link {
    font-size: rem(25px);
    font-weight: bold;
  }

  &__to-action-box {
    justify-content: space-between;
    margin-bottom: rem(32px);
  }
}

@media (max-width: 600px) {
  .auth {
    &__main {
      min-height: 50vh;
      background-image: none;
    }

    &__container {
      padding: rem(20px 0);
      margin: rem(20px 0);
      border-radius: 0;
      box-shadow: none;

      &:not(.sign-in)::after {
        border-top-left-radius: 0;
        background-color: $warm-orange;
        transition: all 0.1s;
      }

      &:not(.sign-in).last-step::after {
        border-top-right-radius: 0;
      }
    }

    &__header {
      font-size: rem(28.25px);
    }

    &__subheader {
      font-size: rem(18px);
      font-weight: 400;
    }

    &__to-action-box {
      margin-bottom: rem(16px);
      justify-content: center;
    }
  }
}
