@mixin AVATAR_SIZES($box-size, $font-size) {
  @include SQUARE_SIZE($box-size);
  font-size: rem($font-size);
}

.avatar {
  @include AVATAR_SIZES(28px, 14px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid $dark-grey;
  font-weight: bold;
  background-color: $dark-grey;
  color: $white;
}

.avatar-img {
  border-radius: 100%;
  border: 1px solid $dark-grey;
}

.avatar,
.avatar-img {
  &--xxs {
    @include AVATAR_SIZES(32px, 14px);
  }
  &--xs {
    @include AVATAR_SIZES(40px, 16px);
  }
  &--sm {
    @include AVATAR_SIZES(48px, 18px);
  }
  &--md {
    @include AVATAR_SIZES(72px, 28px);
  }
  &--xl {
    @include AVATAR_SIZES(120px, 60px);
  }
}

@media (max-width: $xs) {
  .avatar-mobile {
    &--xs {
      @include AVATAR_SIZES(32px, 14px);
    }
    &--md {
      @include AVATAR_SIZES(40px, 16px);
    }
    &--lg {
      @include AVATAR_SIZES(72px, 28px);
    }
  }
}
