.dashboard {
  &__header {
    font-size: rem(39px);
    font-weight: bold;
  }

  &__setup {
    font-size: rem(25px);
    margin-top: rem(48px);
    margin-bottom: rem(72px);
    font-weight: 300;
    color: $darkest-grey;
  }

  &__setup-avatar {
    height: rem(48px);
    width: rem(48px);
    border-radius: 100%;
    background: $warm-orange;
  }

  &__progress-container {
    display: flex;
    align-items: center;
    width: rem(232px);
    height: rem(16px);
    margin-right: rem(52px);
  }

  &__progress-bar {
    border-radius: rem(10px);
  }

  &__btn.v-btn {
    font-size: rem(20px);
  }

  &__subheaders {
    font-weight: bold;
    font-size: rem(25px);
    line-height: rem(30px);
  }

  &__jobs-count {
    font-size: rem(48px);
    line-height: rem(59px);
    color: $darkest-grey;
  }

  &__job-title {
    font-weight: bold;
    font-size: rem(20px);
    line-height: rem(24px);
    color: $darkest-grey;
  }

  &__job-proposals {
    margin-left: rem(24px);
    font-weight: bold;
    font-size: rem(16px);
    line-height: rem(24px);
    color: $warm-orange;
  }

  &__job-new-proposals {
    font-size: rem(16px);
    line-height: rem(24px);
    color: $azure;
  }

  &__job-subheader {
    font-weight: bold;
    font-size: rem(16px);
    line-height: rem(24px);
    align-items: center;
    text-transform: uppercase;
    color: $darkest-grey;
    margin-bottom: 0;
  }

  &__actions-block > &__link {
    font-weight: bold;
    font-size: rem(20px);
    line-height: rem(24px);
    text-align: center;
    color: $azure;
  }

  .v-card > &__card-content > &__jobs-count-row {
    height: rem(145px);
  }

  &__jobs-list {
    padding-top: rem(44px);
  }

  &__freelancer-row {
    padding-bottom: rem(25px);
  }

  &__articles-row {
    padding-bottom: rem(15px);
  }

  .v-card > &__card-content {
    padding: 0 rem(36px);
    height: calc(100% - 108px - 92px);
  }

  .v-card > &__card-title {
    padding: rem(39px) rem(36px);
  }

  .v-card > &__actions-block {
    padding-left: rem(36px);
    padding-right: rem(36px);
    padding-bottom: rem(60px);
    align-items: flex-start;
  }

  &__article-title {
    font-size: rem(20px);
    line-height: rem(24px);
  }

  &__freelancer-name {
    font-weight: bold;
    font-size: rem(20px);
    line-height: rem(150%);
  }

  &__freelancer-spec {
    font-weight: 300;
    font-size: rem(20px);
    line-height: rem(150%);
  }

  &__open-jobs-freeelancers {
    padding-right: rem(26px);
    padding-bottom: 0;
  }

  &__jobs-in-progress-articles {
    padding-left: rem(26px);
  }

  main > div > &__content {
    padding-bottom: rem(96px);
  }

  &__content-row {
    margin-bottom: rem(32px);
  }
}

@media (max-width: $md) {
  .dashboard {
    &__open-jobs-freeelancers {
      padding-right: rem(15px);
      padding-bottom: 0;
    }

    &__jobs-in-progress-articles {
      padding-left: rem(15px);
    }

    &__subheaders {
      font-weight: bold;
      font-size: rem(20px);
      line-height: rem(30px);
    }

    .v-card > &__card-content > &__jobs-count-row {
      height: rem(300px);
    }

    &__job-title {
      font-weight: bold;
      font-size: rem(20px);
      line-height: rem(24px);
      align-items: center;
      color: $darkest-grey;
    }

    &__job-proposals {
      margin-left: 0;
      font-weight: bold;
      font-size: rem(16px);
      line-height: rem(24px);
      color: $warm-orange;
    }

    .v-card > &__card-content {
      padding: rem(16px);
      height: calc(100% - 85px - 92px);
    }

    &__actions-block > &__link {
      font-weight: bold;
      font-size: rem(20px);
      line-height: rem(24px);
      text-align: center;
      color: $azure;
    }

    .v-card > &__card-title {
      padding: rem(16px);
    }

    .v-card > &__actions-block {
      padding-left: rem(16px);
      padding-right: rem(16px);
      padding-bottom: rem(60px);
      align-items: flex-start;
    }
    &__jobs-count {
      font-size: rem(40px);
      line-height: rem(59px);
      color: $darkest-grey;
    }
  }
}

@media (max-width: $xs) {
  .dashboard {
    &__open-jobs-freeelancers {
      padding-right: 0;
      padding-bottom: rem(32px);
    }

    &__jobs-in-progress-articles {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: rem(32px);
    }

    .v-card > &__card-content {
      padding: rem(16px);
      height: auto;
    }

    .v-card > &__card-content > &__jobs-count-row {
      padding-bottom: rem(26px);
      height: inherit;
    }

    &__actions-block > &__link {
      margin: 0 auto;
      padding-bottom: rem(10px);
      font-weight: bold;
      font-size: rem(20px);
      line-height: rem(24px);
      text-align: center;
      color: $azure;
    }
    .v-card > &__card-title {
      padding: rem(16px);
    }
    .v-card > &__actions-block {
      flex-direction: column;
      padding-left: rem(16px);
      padding-right: rem(16px);
      padding-bottom: rem(20px);
      align-items: flex-start;
    }
    &__jobs-count {
      font-size: rem(30px);
      line-height: rem(59px);
      color: $darkest-grey;
    }
  }
}
