.job-post {
  &__summary-container {
    height: 100%;
  }

  &__toolbar {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__summary-content {
    padding: rem(56px 40px);
  }

  &__header {
    font-size: rem(25px);
    font-weight: bold;
    text-align: left;
    line-height: 150%;
  }

  &__edit-box {
    min-height: rem(80px);
  }

  &__summary-description {
    min-height: rem(90px);
    text-align: left;
  }
}
