.main-navbar.theme--light.v-toolbar {
  background-color: $white;
  border-bottom: 1px solid $light-grey;
  z-index: 1000;
}

.main-navbar {
  & > .v-toolbar__content {
    padding: 0 0;
  }

  &__toggler.v-icon {
    font-size: rem(28px);
  }

  &__logo {
    max-width: 240px;
  }

  &__mobile-view {
    justify-content: space-between;
    align-items: center;
  }

  &__link-box {
    margin-left: rem(24px);
  }

  &__navlinks.theme--light.v-btn {
    color: $darkest-grey;

    &:hover,
    &.active {
      color: $warm-orange;
    }
  }

  &__loginlinks.theme--light.v-btn {
    &:hover,
    &.active {
      color: $azure;
    }

    &.active-route {
      color: $warm-orange;
    }
  }

  &__search {
    &.base-input.v-text-field--solo.v-input {
      min-height: rem(30px);
      width: 100%;
      min-width: rem(300px);
      margin-left: rem(24px);

      & .v-input__slot {
        margin: 0;
      }
    }
  }

  &__search-btn.v-icon {
    font-size: rem(28px);
  }

  &__dropdown.v-btn {
    font-size: 16px;
    font-weight: bold;
    color: $warm-orange;
  }

  &__dropdown.v-menu__content {
    box-shadow: 0px 8px 15px rgba(206, 206, 206, 0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__dropdown div[role='listitem']:hover .nav-menu__list-item,
  &__dropdown div[role='listitem']:hover .main-navbar__list-item {
    color: $warm-orange;
  }

  &__list-item.v-list__tile__title {
    font-size: rem(20px);
    font-weight: bold;

    &:hover {
      color: $warm-orange;
    }
  }

  &__drawer.theme--light.v-navigation-drawer {
    top: rem(110px);
    padding: rem(40px 15px 50px 50px);
    background-color: $lightest-grey;
  }

  &__drawer-btn.v-btn.theme--light {
    padding: rem(0 23px);
    border-width: rem(2px);
    font-size: rem(16px);
    font-weight: bold;
  }

  &__drawer-list-item:not(:last-of-type) {
    border-bottom: 1px solid $light-grey;
  }

  &__drawer-list-item > .v-list__tile {
    color: $darkest-grey;
    font-weight: bold;

    &:hover {
      color: $warm-orange;
    }
  }

  &__badge-icon > .v-badge__badge {
    border: 3px solid $white !important;
    font-size: rem(10px);
    background-color: $warm-orange;
    z-index: 20;
  }

  &__more-btn.v-btn.v-btn--icon {
    margin: rem(6px 16px);
  }

  &__action-icon.v-icon {
    font-size: rem(32px);
  }
}

.search {
  &__mobile {
    transform: translateX(20px);
  }

  &__icon {
    z-index: 1000;
  }
}

.navlink {
  font-weight: bold;

  &:hover {
    color: $orange-tint;
  }
}

.nav-menu {
  &__container {
    min-width: rem(230px);
  }

  &__name {
    font-size: rem(16px);
  }

  &__icon {
    transform: translateY(rem(3px));
  }

  &__list-item.v-list__tile__title {
    font-size: rem(16px);
    font-weight: 400;
    color: $darkest-grey;
  }
}

.menu-badge {
  position: absolute;
  top: 50%;
  left: rem(-24px);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(24px);
  height: rem(24px);
  border-radius: 100%;
  font-size: rem(14px);
  background-color: $warm-orange;
  color: $white;
  z-index: 30;
}

@media (max-width: $md) {
  .main-navbar {
    &__mobile-view.center {
      justify-content: center;
    }
  }
}

@media (max-width: $xs) {
  .main-navbar > .v-toolbar__content {
    height: rem(64px) !important;
  }

  .main-navbar {
    &__logo {
      width: 170px;
    }

    &__drawer.theme--light.v-navigation-drawer {
      max-width: calc(100vw - 60px);
      top: rem(65px);
      padding: rem(20px 10px);
    }

    &__search {
      &.base-input.v-text-field--solo.v-input {
        min-height: rem(26px);
        width: 100%;
        min-width: rem(150px);
        margin-left: rem(8px);

        & .v-input__control {
          min-height: rem(40px);
        }
      }
    }
  }
}
