.new-job-impact{
  min-height: 250px;
  &--num{
    color: $warm-orange;
    font-weight: bold;
    font-size: 61px;
  }
  &--txt-azure{
    color: $azure;
  }
  &--txt-darkest-grey{
    color: $darkest-grey;
  }
  &__title{
    font-size: 20px;
  }
  &__content{
    font-size: 16px;
  }
}
