.privacy-policy{
  &__header {
    text-align: center;
  }
  &__item{
    margin-bottom: 20px;
    color: #000001;
    font-weight: 300;
    font-size: rem(15px);
  }
  &__img.img{
    position: absolute;
    right: rem(120px);
    top: rem(210px);
  }
}
@media (max-width: $sm) {
  .privacy-policy{
    &__item{
      font-size: rem(13px);
    }
    &__img.img{
      position: relative;
      top: inherit;
      bottom: inherit;
      left: inherit;
      right: inherit;
      margin: rem(20px auto);
    }
  }
}
