.terms-of-use{
  &__header{
    text-align: center;
  }
  &__list {
    counter-reset: item;
    color: #000001;
    font-weight: 300;
    font-size: rem(15px);
    &-roman{
      list-style-type: lower-roman;
    }
    &-letter{
      list-style-type: lower-alpha;
    }
    &-deep{
      list-style-type: none;
    }
    &-sub-item{
      display: block;
      margin-bottom: 20px;
      &--without-marker{
        list-style-type: none;
        &:before{
          content: '';
        }
      }
      &:before{
        counter-increment: item;
        content: counters(item, ".") " ";
      }
    }
    &-item {
      &--without-marker{
        width: calc(100% + 24px);
          list-style-type: none;
        margin-left: rem(-24px);
      }
      display: block;
      margin-bottom: 20px;
      &:before{
        counter-increment: item;
        content: counters(item, ".") ". ";
      }
    }
  }
}
