.about{
  padding-top: rem(8px);
 &-card{
   padding: rem(64px 60px 64px 60px);
   &__header {
     padding: rem(20px 0 40px);
     font-size: rem(49px);
     font-weight: bold;
     text-align: center;
   }
   &__content{
     padding: rem(10px 125px 0px);
     font-size: rem(25px);
     line-height: rem(48px);
     &--txt:not(:last-child){
       margin-bottom: rem(49px);
     }
   }
 }
 &-image-card{
   padding: rem(64px 60px 64px 60px);
   &__img{
     margin: auto;
     top: rem(50px);
   }
   &__title{
     padding: rem(64px 0);
     font-size: rem(39px);
     line-height: rem(47px);
     color: $black;
   }
   &__content{
     padding: rem(0 17px);
     font-size: rem(20px);
     line-height: rem(40px);
     &--txt:not(:last-child){
       margin-bottom: rem(35px);
     }
   }
   &__description{
     margin-top: rem(78px);
     text-align: center;
     color: $warm-orange;
     font-size: rem(31px);
   }
 }
}
