.base-card-style {
  height: 100%;
  border-radius: rem(10px) !important;
}

.base-card-style > .base-card-title {
  padding: rem(39px) rem(36px);
}

.base-card-header {
  font-weight: bold;
  font-size: rem(25px);
  line-height: rem(30px);
}

.v-card > .base-card-content {
  padding: 0 rem(36px);
  height: calc(100% - 108px - 92px);
}

.base-card-info-row {
  height: rem(145px);
}

.base-card-numbers-count {
  font-size: rem(48px);
  line-height: rem(59px);
  color: $darkest-grey;
}

.base-card-subheader {
  font-weight: bold;
  font-size: rem(16px);
  line-height: rem(24px);
  align-items: center;
  text-transform: uppercase;
  color: $darkest-grey;
  margin-bottom: 0;
}

.v-card > .base-card-action {
  padding-left: rem(36px);
  padding-right: rem(36px);
  padding-bottom: rem(60px);
  align-items: flex-start;
}

.base-card-action > .base-card-link {
  font-weight: bold;
  font-size: rem(20px);
  line-height: rem(24px);
  text-align: center;
  color: $azure;
}

@media (max-width: $md) {
  .base-card-header {
    font-weight: bold;
    font-size: rem(20px);
    line-height: rem(30px);
  }
  .v-card > .base-card-content {
    padding: rem(16px);
    height: calc(100% - 85px - 92px);
  }
  .v-card > .base-card-action {
    padding-left: rem(16px);
    padding-right: rem(16px);
    padding-bottom: rem(60px);
    align-items: flex-start;
  }
  .base-card-action > .base-card-link {
    font-weight: bold;
    font-size: rem(20px);
    line-height: rem(24px);
    text-align: center;
    color: $azure;
  }
  .base-card-style > .base-card-title {
    padding: rem(16px);
  }
  .base-card-info-row {
    height: rem(300px);
  }
  .base-card-numbers-count {
    font-size: rem(40px);
    line-height: rem(59px);
    color: $darkest-grey;
  }
  .base-card-subheader {
    font-weight: bold;
    font-size: rem(16px);
    line-height: rem(24px);
    align-items: center;
    text-transform: uppercase;
    color: $darkest-grey;
    margin-bottom: 0;
  }
}

@media (max-width: $xs) {
  .v-card > .base-card-content {
    padding: rem(16px);
    height: auto;
  }
  .v-card > .base-card-action {
    flex-direction: column;
    padding-left: rem(16px);
    padding-right: rem(16px);
    padding-bottom: rem(20px);
    align-items: flex-start;
  }
  .base-card-action > .base-card-link {
    margin: 0 auto;
    padding-bottom: rem(10px);
    font-weight: bold;
    font-size: rem(20px);
    line-height: rem(24px);
    text-align: center;
    color: $azure;
  }
  .base-card-style > .base-card-title {
    padding: rem(16px);
  }
  .base-card-info-row {
    padding-bottom: rem(26px);
    height: inherit;
  }
  .base-card-numbers-count {
    font-size: rem(30px);
    line-height: rem(59px);
    color: $darkest-grey;
  }
  .base-card-subheader {
    font-weight: bold;
    font-size: rem(16px);
    line-height: rem(24px);
    align-items: center;
    text-transform: uppercase;
    color: $darkest-grey;
    margin-bottom: 0;
  }
}
