.base.v-chip.theme--light {
  height: rem(40px);
  padding: rem(10px 23px);
  border-radius: rem(20px);
  background-color: $light-grey;

  & > .v-chip__content {
    padding: 0;
    font-size: 1rem;
    color: $darkest-grey;
  }
}
