.base-input.v-text-field--solo.v-input {
  min-height: rem(80px);
}

.base-input.v-text-field--solo .v-input__slot {
  border: 1px solid $input-border;
  border-radius: rem(8px) !important;
  box-shadow: none !important;
}

.base-input.error--text .v-input__slot {
  border-color: $red;
}

.base-input.v-input--is-focused:not(.error--text) .v-input__slot {
  border-color: $azure;
}

.base-input-label {
  font-weight: bold;
  color: $darkest-grey;

  & .base-input.v-input:not(.v-input--is-disabled) input,
  & .v-select.theme--light .v-select__selections {
    color: $darkest-grey;
  }
}

.base-input.error--text ~ .base-input-label {
  color: $red;
}
