.font-size {
  &--p {
    font-size: rem(16px) !important;
    line-height: rem(24px) !important;
  }

  &--h6 {
    font-size: rem(20px) !important;
    line-height: rem(30px) !important;
    font-weight: 300 !important;
  }

  &--h5 {
    font-size: rem(20px) !important;
    line-height: rem(30px) !important;
  }

  &--h4 {
    font-size: rem(25px) !important;
    line-height: rem(37px) !important;
  }

  &--h3 {
    font-size: rem(31.25px) !important;
    line-height: rem(37px) !important;
    font-weight: 500 !important;
  }

  &--h2 {
    font-size: rem(39px) !important;
    line-height: rem(47px) !important;
    font-weight: bold !important;
  }

  &--h1 {
    font-size: rem(48.83px) !important;
    line-height: rem(59px) !important;
    font-weight: bold !important;
  }
}
